<div class="container margin-top">
<a href="/movies" class="btn btn-link">Return</a>

<h1>{{movies.title}}</h1>
<span>{{movies.director}}</span>
<p>{{movies.stars}}</p>
<img src="{{movies.image}}" alt="Caratula">
<p>{{movies.description}}</p>
<p>{{movies.showtimes}}</p>

</div>